<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
  {{ title }}!
  </h1>
</div>
<div class="container " style="padding-left: 16rem;">
  <div class="row">
    <div class="col-md-6">
    <div class="card text-center" style="width: 40rem; ">
        <div class="card-header deep-blue lighten-1 white-text">
    <input mdbActive type="text" id="dato" class="form-control text-center" [(ngModel)]="dato"/>
    <button type="button" class="{{boton}}" (click)="enviar()"> Vamos</button>
        </div>
        <div class="card-body">

          <form>
            <mat-form-field>
              <mat-select placeholder="Exprecion Regular" [(ngModel)]="selectedValue" (change)="Showvalor()" name="list">
                <mat-option *ngFor="let list of lists" [value]="list.value" >
                  {{list.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          
            <p> Selected value: {{selectedValue}} </p>
            <p> inter : {{v}} </p>
            
          </form>

        </div>
        <div class="card-text" >
          <input  type="text" id="texto" class="form-control text-center" [(ngModel)]="texto"/>
        </div>
    </div>
  </div>
  </div>
    
</div>


